.home-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.bells-container {
    max-width: 60%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.create-bell-container {
    max-width: 40%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form {
    max-width: 40%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #2f2f2f;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-file-upload,
button {
    background-color: white;
    color: #4CAF50;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    border: 2px solid #4CAF50; /* Рамка белого цвета */
    border-radius: 5px;
    padding: 14px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    margin-top: auto;
}

.custom-file-upload:hover,
button:hover {
    background-color: #4CAF50; /* Изменен цвет при наведении на белый */
    color: white; /* Изменен цвет текста при наведении на зеленый */
    transition: background-color 0.3s, color 0.3s;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.bells-list::-webkit-scrollbar {
    display: none;
}

.bells-list {
    list-style-type: none;
    padding: 0;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.bells-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
}

.upcoming-bell {
    color: white;
    background-color: #4CAF50;
}

.past-bell {
    color: gray;
    background-color: #f2f2f2;
}

.bell-info {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

audio {
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

.emergency-button {
    background-color: white;
    color: #ff4d4d;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    border: 2px solid #ff4d4d; /* Рамка белого цвета */
    border-radius: 5px;
    padding: 14px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.emergency-button:hover {
    background-color: #ff4d4d; /* Изменен цвет при наведении на белый */
    color: white; /* Изменен цвет текста при наведении на зеленый */
    transition: background-color 0.3s, color 0.3s;
}